{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr>
            <th class="table-active">번호</th>
            <th>제목</th>
            <th>작가</th>
            <th class="table-active">출판년</th>
            <th class="table-active">대출</th>
        </tr>
        </thead>
        <tbody>
        {% if bookList %}
        {% for book in bookList %}
        <tr class="table-danger test">
            <td class="table-active text-white">{{ loop.index }}
                <input class="isbn" type="hidden" readonly="readonly" value="{{book.doc.isbn}}">
            </td>
            <td >
                <a href="{{ url_for('search.location', isbn=book.doc.isbn13) }}">{{ book.doc.bookname }}</a>
            </td>
            <td class="table-active">{{book.doc.authors}}</td>
            <td class="table-active">{{book.doc.publication_year}}</td>
            <td class="table-active"><button class="btn btn-primary rent"><a class="text-white" href="/search/booking?bookname={{book.doc.bookname}}&isbn13={{book.doc.isbn13}}">대출</a>
<!-- 1.url_for('link',변수1=?,변수2)
     2. href=/?변수1=???&변수2=???
     3. 폼사용 근데 input이 없음-->
            </button></td>

        </tr>
        {% endfor %}
        {% elif recommend %}
        {% for temp in recommend %}
        <tr class="table-danger test">
            <td class="table-active text-white">{{ loop.index }}
                <input class="isbn" type="hidden" readonly="readonly" value="{{temp.bookisbn}}">
            </td>
            <td >
                <a href="{{ url_for('search.location', isbn=temp.bookisbn) }}">{{ temp.bookname }}</a>
            </td>
            <td class="table-active">{{temp.bookauthor}}</td>
            <td class="table-active">{{temp.bookyear}}</td>
            <td class="table-active"><button class="btn btn-primary rent"><a class="text-white" href="/recommend/booking?bookname={{temp.bookname}}&isbn13={{temp.isbn}}">대출</a>
            </button></td>

        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">책이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function() {
    $('.rent').click(function(){
        var index = $(this).closest('.test').find('.isbn').val();
        console.log(index)
    });
});
</script>
{% endblock %}
